* {
    margin: 0;
    padding: 0;
    /* font-family: Open Sans;
    font-family: Roboto; */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: space-around;
}

.sectionAcceuil {
    background-image: url("christian-img1.jpg");
    background-size: cover;
    color: aliceblue;
    position: relative;

}

.sectionAcceuil .img3D{
    position: absolute;
    width: 100px;
}
.sectionAcceuil .absolute1{
    top: 20%;
    left: 10%;
}
.sectionAcceuil .absolute2{
    top: 10%;
    right: 10%;
}
.sectionAcceuil .absolute3{
    top: 50%;
    right: 10%;
}
.sectionAcceuil .absolute4{
    top: 60%
}
.sectionAcceuil .absolute5{
    top: 40%;
    left: 50%;
}


header,
#myHeader {
    padding: 8px 400px 10px 40px;
    position: fixed;
    width: 100%;
    background-color: rgb(14, 14, 14);
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

/* Ajoutez cette règle lorsque le header quitte sa position initiale */
body.scrolled #myHeader {
    background-color: rgb(14, 14, 14);
    /* Fond noir */
}

.headerCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

    color: rgb(193, 144, 238);
}

#menuButton{
    display: none;
}

nav {
    display: flex;
    gap: 50px;
    font-weight: 600;
}

.item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    color: rgb(224, 190, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.setColor {
    color: rgb(224, 190, 255);
}

.accroche {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 250px 100px 60px 100px;
}

.phaseAccroche {
    font-size: 70px;
    max-width: 500px;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <>; */
    font-style: normal;
}

#contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    border: solid 2px  rgb(224, 190, 255);
    color: rgb(224, 190, 255);
    width: 240px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: .8s;
}

#contactMe:hover {
    border: solid 2px rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    color: black;
}

.sectionDemo {
    background-color: rgb(0, 0, 0);
    color: rgb(221, 221, 221);
    padding: 100px 0px 100px 0px;
    position: relative;
}

.sectionDemo .img3D{
    position: absolute;
    width: 100px;
    display: none;
}
.sectionDemo .absolute1{
    top: 20%;
    left: 10%;
}
.sectionDemo .absolute2{
    top: 10%;
    right: 10%;
}
.sectionDemo .absolute3{
    top: 50%;
    right: 10%;
}
.sectionDemo .absolute4{
    top: 60%
}
.sectionDemo .absolute5{
    top: 40%;
    left: 50%;
}

.textsDemo {
    display: flex;
    gap: 100px;
    padding: 0 5% 0 5%;
}

.textDemo1 {
    font-size: 40px;
    font-weight: bold;
    min-width: 500px;
}

.textDemo2 {
    font-size: 18px;
}

.imgDemo {
    width: 600px;
    border-radius: 8px;
}

.linksDemo {
    display: grid;
    grid-area: 5 3 2;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.click {
    color: brown;
    color: blueviolet;
    font-weight: bold;
    font-size: 18px;
}

.sousSectionSatisfaction {
    margin-top: 200px;
}

.textSatisfaction1 {
    font-weight: bold;
    font-size: 40px;
}

.textSatisfaction2 {
    font-size: 20px;
    max-width: 600px;
}

.tableauSatisfaction {
    display: flex;
    justify-content: center;
    gap: 25px;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sectionTarif{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px  20px;
    position: relative;
}

.sectionTarif .img3D{
    position: absolute;
    width: 100px;
}
.sectionTarif .absolute1{
    top: 20%;
    left: 0%;
}
.sectionTarif .absolute2{
    top: 10%;
    right: 10%;
}
.sectionTarif .absolute3{
    top: 50%;
    right: 10%;
}
.sectionTarif .absolute4{
    top: 60%;
    left: 0%;
}
.sectionTarif .absolute5{
    top: 80%;
    left: 50%;
}

.listCardTarif{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 10px;
}
.cardTarif{
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgb(255, 255, 255), 10px 10px 100px rgb(110, 90, 108);
}

.cardTarif h2{
    font-size: 30px;
}
.cardTarif p{
    width: 300px;
}
.typeTarif{
    color: rgb(123, 14, 173);
    font-weight: bold;
    font-size: 20px;
}
.tarfDescript{
    font-weight: 100;
    font-size: 13px;
}
.avantageTarif{
    color: rgb(83, 29, 87);
    font-weight: 900;
}
.prixtarif{
    color: chocolate;
    font-weight: bold;
}

.sectionContat {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 0 100px 0;
}

.textContact {
    margin-left: 50px;
}

.textContact1 {
    font-weight: bold;
    font-size: 50px;
    max-width: 500px;
}

.textContact2 {
    font-size: 20px;
    max-width: 500px;
}

.formContact {
    margin-right: 50px;
    font-size: 18px;
    max-width: 600px;
}

.nom {
    width: 100%;
    font-size: 35px;
}

#mail {
    width: 100%;
    font-size: 35px;
}

#message {
    font-size: 35px;
    width: 100%;

}

#submitForm {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    border: solid 5px rgb(56, 56, 56);
    background-color: rgb(241, 241, 241);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    transition: .8s;
}

#submitForm:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(247, 247, 247);
}

/* Optionnel : Style pour les icônes */
.social-icon {
    font-size: 24px;
    margin-right: 100px;
}

.sectionCitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to bottom right, rgb(255, 238, 0), rgb(212, 0, 255), rgb(88, 88, 88), rgb(43, 255, 0));
    color: aliceblue;
    padding: 100px 200px 100px 200px;
}

.citation {
    font-size: 40px;
    font-weight: 700;
}

.auteur {
    font-size: 30px;
    text-align: right;
    font-style: italic;
}

.sectionLocalisation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 100px 100px 100px;
    font-size: 25px;

}

.sectionLocalisationPlace {
    font-size: 30px;
}

footer {
    background-color: black;
    color: aliceblue;
    padding: 30px;
    font-size: 20px;
}

h3 {
    color: blueviolet;
}

@media only screen and (max-width: 767px) {

    .headerCenter {
        height: 50px;
    }

    #logo {
        font-size: 20px;
    }

    nav,
    .linkResaux {
        display: none
    }

    #menuButton{
        display: block;
        z-index: 1000;
    }
    nav{
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
    }

    .smallScreen{
        display: flex;
    }

    .accroche {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 400px 100px 60px 20px;
    }

    .phaseAccroche {
        font-size: 45px;
    }

    #contactMe {
        margin-top: 40px;
    }

    .textsDemo {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0 30px 0 30px;
    }

    .textDemo1 {
        font-size: 30px;
        font-weight: bold;
        min-width: 280px;
    }

    .textDemo2 {
        margin-top: 20px;
        font-size: 20px;

    }

    .linksDemo,
    .imgDemo {
        width: 95%;
    }

    .sectionTarif .absolute1{
        top: 30%;
        left: 80%;
    }
.sectionTarif .absolute4{
    top: 60%;
    left: 0%;
    width: 60px;
}
    .sectionContat {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 100px;
        padding: 100px 0 100px 0;
    }

    .textContact {
        margin-left: 20px;
    }

    .textContact1 {
        font-weight: bold;
        font-size: 30px;
        max-width: 500px;
    }

    .textContact2 {
        font-size: 20px;
        max-width: 500px;
        padding: 8px;
    }

    .formContact {
        margin-right: 0px;
        padding: 20px;
        font-size: 18px;
    }

    .sousSectionSatisfaction {
        padding: 50px;
    }

    .textSatisfaction1 {
        font-size: 25px;
    }

    .textSatisfaction2 {
        font-size: 20px;
        max-width: 600px;
    }

    .sectionCitation {
        padding: 100px 30px 100px 30px;
    }

    .citation {
        font-size: 30px;
    }

    .auteur {
        font-size: 20px;
    }

    iframe {
        width: 280px;
        height: 280px;
    }

    footer {
        font-size: 18px;
    }
}
